*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior:smooth;
}
.main-page{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(images/banner.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
}
nav{
    padding: 3%  3%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-link{
    flex: 1;
    text-align:right;
   
}
a{
    text-decoration: none;
    color: aliceblue;
}
.welcome{
    position:relative;
    top:0px;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 10px 30px;
    transition: .5s ease-in-out;
}
.nav-link ul li a{
    text-decoration: none;
 color: antiquewhite;
}
.nav-link ul li::after{
    content: "";
    height: 3px;
    width: 0%;
     background: rgb(216, 247, 249);
    display: block;
    margin: auto;
    transition: 0.5s ease-in-out;
}
.nav-link ul li:hover::after{
    width: 100%;
}
.nav-link ul li:hover{
     transform: scale(1.2);
}
.center-div{
    height: 100vh;
    width: 100%;
    
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    flex-direction: column;
}
.center-div h1{
    color: rgb(255, 255, 255);
    font-size:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight:600;
    font-size: xx-large;
}
.center-div p{
    color: aliceblue;
}
.text-box{
    height:100vh;
    width: 50%;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 80px;
    color: antiquewhite;
}


 /* mission and vision */

 .main-v-m p{
    line-height: 22px;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    
 }
 .main-v-m h1{
    margin-top: 15px;
    font-size: medium;
 }
.main-v-m{
   position: relative;
   top: -100px;
}
 
 /* end */




h1{position: relative;
    right: 10px;
    top: -10px;
    font-size: x-large;
}
 .header1{
    position:absolute;
    top: 50px;
    left: 160px;
 }
 .top-a{
    color: aliceblue;
     text-decoration: none;
     display: none;
 }
.separater{
    height: 1px;
    width: 100%;
    background:#3b4852;
}

.slider-frame{
    height: 100vh;
    width: 50%;
    margin-top :250px;
    color: aliceblue;
    
}
.slider-frame h1{
    color: aliceblue;
    font-size: bold;
}
.visit-but{
    border: 1px solid white;
    font-size: 13px;
    background: transparent;
    padding: 12px 34px;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
}
.visit-but:hover{
    border:1px solid rgb(255, 43, 85);
    background: rgb(255, 43, 85) ;
    transition: 1s;
}
nav .fa-solid{
    display: none;
}
 


/* course section */
.course-section a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.course-section{
    width: 80%;
    text-align: center;
    padding-top: 80px;
    margin: auto;
}
.course-section h1{
    font-size: 36px;
    font-weight: 600;

}
.course-section p{
line-height: 22px;
font-weight: 300;
font-size: 14px;
padding: 20px;
color: rgb(3, 3, 3);
}
.row{
    display: grid;
     grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
   
}
.course-col{
    margin-bottom: 5px;
    border-radius: 10px;
    background: rgba(248, 226, 226, 0.423);
    box-sizing: border-box;
    padding: 20px 12px;
    transition: .5s ease-in-out;
}
h3{
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);


}
.ba-h5{
    position: relative;
    top:0px;
}
.bba-h5{
    position: relative;
    top:0px;
}
.msc-h5{
    position: relative;
    top:0px;
}

@media(max-width:700px){
    .ba-h5{
        top:0px;
    }


}



/*our  campus */



.campus-col{
    flex-basis: 31%;
    text-align: left;
    margin-bottom: 5%;
    border-radius: 10px;
    transition: .5s;
}
.campus-col img{
    width: 100%;
    border-radius: 10px;
     
}
.campus{
    padding-top: 100px;
    width: 80%;
    text-align: center;
    margin: auto;
}
.campus h1{
    font-size: 36px;
    font-weight: 600;

}
.campus p{
    padding-bottom: 5px;
    line-height: 22px;
    font-weight: 300;
    font-size: 14px;
    padding: 20px;
}
.campus-col:hover{
     
    transform: scale(1.1);
}




/* @media(max-width:700px){
    .campus-col{
        height:50px;
        width:380px;
    }
} */





/* facilities section */




.facilities-col{
    flex-basis: 31%;
    text-align: left;
    margin-bottom: 5%;
    border-radius: 10px;

}
.facilities{
    padding-top: 100px;
    width: 80%;
    text-align: center;
    margin: auto;
}
.facilities img{
    width: 100%;
    border-radius: 10px;
}
.facilities p{
    margin-bottom: 15px; 
    padding: 0px;
    line-height: 22px;
font-weight: 300;
font-size: 14px;
}
.facilities .facilities-col p{
    padding: 0px;
    line-height: 22px;
font-weight: 300;
font-size: 14px;
}
.facilities h3{
    margin-top:16 ;
    margin-bottom: 15;
    text-align: left;
}
.facilities h1{
    font-size: 36px;
    font-weight: 600;
    position: relative;
    top: -50px;
    
}


/* reviews */

.reviews{
    padding-top: 100px;
    width: 90%;
    text-align: center;
    margin: auto;
}
.reviews-col{
    flex-basis: 44%;
    text-align: left;
    margin-bottom: 5%;
    border-radius: 10px;
    background: #6abfff;
    display: flex;
     
}
.reviews p{
    line-height: 22px;
font-weight: 300;
font-size: 14px;
padding: 20px;
}
.reviews-col img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;

}
.reviews-col h3{
    text-align: left;
}
.reviews-col p{
    margin-top: 5px;

}


/* CONTACT US SECTION */

.contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(4,9,30,0.7),
    rgba(4,9,30,0.7)),url(./images/slider01.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0px;
    color: white;
    overflow: hidden;
}
.contact h1{
    margin-bottom: 10px;
}
@media(max-width:700px){
    .contact h1{
        font-size:20px;
    }
}
 





/* footer */



.footer{
    padding: 30px 0px;
    width: 100%;
    text-align: center;
}
.footer h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;

}
.footer p{
    line-height: 22px;
font-weight: 300;
font-size: 14px;
padding: 20px;
}
 .icon .fa-brands{
    margin: 0 10px;
    padding: 18px 0;
    cursor: pointer;

 }
 .fa-heart{
    color: crimson;
 }





 /* about page css */


 .sub-header{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),
    rgba(4,9,30,0.7)),url(./images/subimg01.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: aliceblue;
    
 }
 .sub-header p{
    position: relative;
    left: -120px;
 }
 .sub-h1{
    margin-top: 100px;
 }
 
.head-college{
    padding-top: 100px;
    width: 80%;
    text-align: center;
    margin: auto;
}
.head-row{
    display: grid;
     grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 5px;
}
.college-head{
    background-color: rgb(255, 255, 255);
}
.font{
    margin-top: 20px;
}

 /* content section */


 .content{
    margin: auto;
    width: 80%;
    padding-top:80px;
    padding-bottom: 50px;
 }
 .content-col{
    flex-basis: 48%;
    padding: 30px 2px;
    text-align: center;

 }
 .content-col img{
    width: 100%;
    
 }
 .content-col p{
    line-height: 22px;
    font-weight: 300;
    font-size: 14px;
    
 }
 .content-col h1{
    margin-top: 15px;
 }
 /* @media(max-width:700px){
    .content-col img{
        display:none;
    }
 } */


 /*blog section*/
 .gallery-1{
    background-image: linear-gradient(rgba(4,9,30,0.7),
    rgba(4,9,30,0.7)),url(./images/gallery/g1.jpg);
 }


 .gallery-011{
    margin: auto;
    width: 80%;
    padding-top:80px;
    padding-bottom: 50px;
 }
 .gal-row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
 }
  
.gall-col img{
    width: 100%;
    border-radius: 10px;
 }
 .gall-col{
    overflow: hidden;
    border-radius: 10px;
    transition: .5s ease-in-out;
 }
 .gall-col:hover{
    transform:scale(1.1);
 }
 






/* comment box */


.comment-box {
    border: 1px solid black;
    padding: 10px 20px;
    margin: 50px 0px;
}
.comment-box h1{
    padding-top: 20px;
    padding-left: 7px;
    text-align: left;
}
.comment-box input, .comment-box textarea{
    width: 100%;
     margin-top: 30px;
     height: 40px;
     font-size: 15px;
     padding-left: 5px;
     box-sizing: border-box;
     outline: none;
     background-color: rgb(240, 244, 248);
     border: none;
}
.comment-box textarea{
    height: 150px;
}
.drop-but{
         border: 1px solid black;
         font-weight: 900;
         position: relative;
         left: 190px;
    }
    @media(max-width:700px){
        .drop-but{
            height:40px ;
            width: 150px;
            background: #2196f3;
            border:none;
    }
    .blog-col-right{
        display: none;
    }
    .drop-but{
        position: relative;
        left: 50px;}


    }



    /* contact us section */




.college-map{
    width: 80%;
    padding: 80px 0;
    margin: auto;
}
.college-map iframe{
    width: 100%;
}


.contact-info{
    width: 90%;
    margin: auto;
}
.contact-col
{
flex-basis:30%;
margin-bottom: 60px;
} 
.contact-col{
    
    margin-bottom: 40px;
    margin-top: 40px;
}

.contact-col p{
    text-align: center;

}
.contact-col  .fa-house{
    position: relative;
    top: 37px;
    left: 75px;
}
.contact-col  .fa-phone{
    position: relative;
    top: 37px;
    left: 60px;
}
.contact-col  .fa-envelope{
    position: relative;
    top: 39px;
    left: -13px;
}

.fa-house,.fa-envelope,.fa-phone{
    font-size: 20px;
}
.contact-col01 input,  .contact-col01 textarea{
    width: 100%;
     margin-top: 30px;
     height: 40px;
     font-size: 15px;
     padding-left: 5px;
     box-sizing: border-box;
     outline: none;
     background-color: rgb(240, 244, 248);
     border: none;
}
.contact-col01 textarea{
    height: 150px;
}
.send-but{
    position: relative;
    left: 0px;
    right: 0px;
      
}
@media(max-width:700px){
    .send-but{
        position: relative;
        left: 0px;
        right: 0px;
    }
    
}



/* below 1309px */

@media(max-width:1309px){
     .phone-1
    {
         position: relative;
         left: 140px;
    }
    .welcome p{
        padding-left: 35px;
        margin-right: 37px;
        text-align: center;
    }
    .nav-link ul li{
        padding: 20px 8px;
    }
    .ba-h5 {
        position: relative;
        top: 30px;
    }
}
@media(max-width:1200px){
    .ba-h5 {
        position: relative;
        top: 5px;
    }
}

/* below 1070px */



@media(max-width:1070px){

 
   .nav-link ul li{
    display: block;
}

.text-box{
    display: none;
}
.visit-but{
    border: 1px solid white;
    font-size: 13px;
    background: transparent;
    padding: 12px 10px;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
}
.nav-link{
    position:fixed;
    height: 100vh;
    width: 200px;
    top: 0;
    right:-200px;
    text-align: left;
    z-index: 2;
    background-color: rgb(255, 43, 85);
    transition: 1s;
}
nav .fa-solid{
    display: block;
    color: rgb(9, 9, 9);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    
}
.nav-link ul{
    padding: 20px;

}
.header1 h1{
    position: relative;
    left: 100px;
    top: -20px;
}
 .header1 p{
    left: 100px;
    position: relative;
    top: -20px;
 }
 
.header1{
    width: 70%;
    left: 44px;
}
 .main-v-m{
    display:block;
}
.welcome h1{
    font-size: 18px;
    margin-left: 20px;  
}
.welcome p{
    padding-left: 35px;
    margin-right: 37px;
    text-align: center;
}
.ba-h5 {
    position: relative;
    top: 30px;
}
}


 /* below 700px */



 @media(max-width:700px){
    .nav-link ul li{
        display: block;
    }
    
    .text-box{
        display: none;
    }
    .visit-but{
        border: 1px solid white;
        font-size: 13px;
        background: transparent;
        padding: 12px 10px;
        margin-top: 20px;
        position: relative;
        cursor: pointer;
    }
    .nav-link{
        position:fixed;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        background-color: rgb(255, 43, 85);
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: rgb(9, 9, 9);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        
    }
    .nav-link ul{
        padding: 20px;

    }
    .header1 p{
        display: none;
    }
    .header1 h1{
        width: 200px;
        font-weight: 100;
        left: 70px;
        top: -40px;
    }
    .header1{
        width: 70%;
        left: 44px;
    }
     .main-v-m{
        display: none;
    }
    .welcome h1{
        font-size: 18px;
        margin-left: 20px;  
    }
    .welcome p{
        padding-left: 35px;
        margin-right: 37px;
        text-align: center;
    }
    .ba-h5 {
        position: relative;
        top: 0px;
    }
}




/* bsc maths most other course styles also the same this  */

.math-sub-header{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),
    rgba(4,9,30,0.7)),url(./images/maths.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: aliceblue;
}
.bsc-maths{
    width: 80%;
    text-align: center;
    padding-top: 80px;
    margin: auto;
}
.bsc-ma-col{
    margin-bottom: 5%;
    border-radius: 10px;
    transition: .5s;
}
.bsc-ma-col h4{
     border-bottom: 1px solid black;
}
.bsc-ma-col p{
    line-height: 22px;
    font-weight: 300;
    font-size: 14px;
    padding: 20px;
}
.bsc-ma-col ul li{
    /* text-align: left; */
    padding-top: 40px;
    list-style:circle;
    font-weight: 300;
    font-size: 14px;
    padding: 20px;
     
}
 


/* bsc physics */

.phy-sub-header{
    background-image: linear-gradient(rgba(4,9,30,0.7),
    rgba(4,9,30,0.7)),url(./images/phy.jpg);
}



/* bsc cs  */
.cs-sub-header{
    background-image: linear-gradient(rgba(4,9,30,0.7),
    rgba(4,9,30,0.7)),url(./images/bsccs.jpg);
}
 

.staff{
    width: 80%;
    text-align: center;
    padding-top:50px;
    margin: auto;
    padding-bottom: 80px;
}
.bsc-col img{
    width: 100%;
}
.bsc-col h3{
    color: #21517a;
}
.bsc-col{
    overflow: hidden;
    border-radius: 10px;
    background-color: aliceblue;
     
}
.staff h2{
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}
.staff .row{
    padding-top: 20px;
}




/* ba english */




.ba-sub-header{
    background-image: linear-gradient(rgba(4,9,30,0.7),
    rgba(4,9,30,0.7)),url(./images/baeng/bannerba.jpg);

}